# Data Science Tools and Ecosystem

In this notebook, Data science Tools and Ecosystem are summarized

**Objectives** 
* List popular languages for Data Sciences 
* List popular libraries  for Data Sciences
* Few Data Sciences Tools
* Few examples of evaluation arithmetic expressions in Python

Some of popular language that Data Scientists use are :
1. Python
2. R
3. Julia

 Some of thecommonly used libraries used by Data Scientists include
1. matplotlib.pyplot
2. Pandas
3. Numpy

| Data Science Tools |
|--------------------|
|Jupyter|
|RStudio|
|Apache Spark|

| Data Science Tools |
|--------------------|
|Jupyter|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in python

### Below are a few examples of evaluating arithmetic expressions in python

In [3]:
# This a simple aithmetic expression to pultiply thenadd integers
(3*4)+5

17

In [5]:
# This a simple aithmetic expression to pultiply thenadd integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nouira Marwa

## Author
Nouira Marwa